body {
    background: linear-gradient(to bottom, #000, #5c5757);
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#title-container{
    height: 25%;
    width: 100%;
    transform: translateY(145%);
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title{
    font-size: 35px;
    font-weight: bold;
    font-family: Roboto Mono;
    text-align: center;
    color: rgb(247, 175, 75);
    opacity: 0.8;
    transform: translateY(8);
    animation-duration: 0.9s;
    animation-name: setup;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.31,.47,.36,.59);
    animation-fill-mode: forwards;
}

#get-started{
    visibility: hidden;
    opacity: 0;
    border-radius: 200px;
    height: 25%;
    width: 39%;
    animation-duration: 1.3s;
    animation-name: hident;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.31,.47,.36,.59);
    animation-fill-mode: forwards;
    transform: translateY(-30px);
    font-family: Roboto Mono;
    font-size: 20px;
    color: #ff0000;
    font-weight: bold;
    box-shadow: offset 2px -3px rgb(117, 160, 160);
}

#get-started:hover{
    background-color: #c0bebe;
    cursor: pointer;
    box-shadow: offset 2px 10px #000 0.4;
}

#seleccion-algoritmo{
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: Roboto Mono;
    height: 100vh;
    display: grid;
    align-content: center;
    grid-template-rows: repeat(5, auto);
    row-gap: 5px;
}

.hidden{
    position: absolute;
    top: -5000px;
    visibility: hidden;
    opacity: 0;
}

.hidding{
    animation-duration: 0.5s;
    animation-iteration-count: 1;;
    animation-fill-mode: forwards;
    animation-name: hide;
}

.animated-entrance{
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-name: hident;
}

@keyframes setup{
    to {
        transform: translateY(-30px);
        opacity: 1;
    }
}

@keyframes hide{
    to{
        opacity: 0;
    }
}

@keyframes hident{
    to {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (min-width: 700px){
    #title{ 
        font-size: 45px;
    }
}

@media screen and (min-width: 780px){
    #title{
        font-size: 50px;
    }
}

@media screen and (min-width: 766px){
    #title{
        font-size: 55px;
    }
    #get-started{
        width: 42%;
    }
}